{% extends "layout.html" %}

{% block title %}
InstaBlog
{% endblock %}

{% block content %}

<h1 class="text-3xl text-center mb-4">
    are you sure you want to delete this blog?
</h1>
<form method="post" class="flex justify-center items-center gap-3">
    {% csrf_token %}
     <a href="{% url 'blogs' %}">
        <button type="button" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
            Cancel
        </button>
    </a>
    <a href="{% url 'blog_delete' blog.id %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
        Delete
    </a>
</form>

{% endblock  %}